<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="keen.mybatis.daoimpl.OrgUserMapper">    
     <!--getUserById-->
    <select id="getUserById" parameterType="int" resultType="OrgUser">
		select index_id,name,sex,email,wechatno,tel,orgrelationship,city,country,headImgUrl,nickname,openId,province,plane,orgid  from tbl_orguser 
		where 1=1  and isdelete=0 and index_id=#{0}
		 LIMIT 0 ,1
	</select>
 </mapper>  